# This file is managed by polkhan/tmux
# For more information see https://gitlab.com/polkhan/tmux

{% if tmux is defined %}
{% if 'tmux_unbinds' in tmux %}
{% for setting in tmux['tmux_unbinds'] %}
{{ setting }}
{% endfor %}
{% endif %}

{% if 'tmux_binds' in tmux %}
{% for setting in tmux['tmux_binds'] %}
{{ setting }}
{% endfor %}
{% endif %}

{% if 'tmux_g_opt' in tmux %}
{% for setting in tmux['tmux_g_opt'] %}
set-option -g {{ setting }} "{{ tmux['tmux_g_opt'][setting] }}"
{% endfor %}
{% endif %}

{% if 'tmux_ga' in tmux %}
{% for setting in tmux['tmux_ga'] %}
set -ga {{ setting }} "{{ tmux['tmux_ga'][setting] }}"
{% endfor %}
{% endif %}

{% if 'tmux_sg_opt' in tmux %}
{% for setting in tmux['tmux_sg_opt'] %}
set-option -sg {{ setting }} "{{ tmux['tmux_sg_opt'][setting] }}"
{% endfor %}
{% endif %}

{% if 'tmux_g_win_opt' in tmux %}
{% for setting in tmux['tmux_g_win_opt'] %}
set-window-option -g {{ setting }} "{{ tmux['tmux_g_win_opt'][setting] }}"
{% endfor %}
{% endif %}
{% endif %}
